.main {
  display: grid;
  justify-items: center;
  padding: 1rem;
}

.shadow-container {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  font-size: .5rem;
  padding: 1rem;
}

.with-border {
  border: solid 1px #666;
  transition: border 700ms ease-in-out;
}

.with-shadow {
  box-shadow: 0 0 0 1px #666;
  transition: box-shadow 700ms ease-in-out;
}

.shadow-container:hover {
  .with-shadow {
    box-shadow: 0 0 0 2px #666;
  }
  .with-border {
    border: solid 2px #666;
  }
}




